:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
  overflow: hidden;
}
main {
  width: 280px;
  height: 410px;
  background-color: var(--White);
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
}
img {
  width: 250px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  font-size: 20px;
  width: 250px;
  padding-left: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--Dark-blue);
}
p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  width: 250px;
  padding-left: 1rem;
  font-size: 15px;
  text-align: center;
  color: var(--Grayish-blue);
}
@media screen and (max-width: 750px) {
  body {
    overflow: hidden;
  }
  main {
    width: 300px;
    height: 450px;
  }
  h1,
  p {
    padding-left: 1.5rem;
  }
  img {
    width: 280px;
  }
}
